
@import "tailwindcss";
@plugin "daisyui";



body {
  background: url(../public/bg3.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }
 
 
 ::-webkit-scrollbar {
   /* Customize the scrollbar width */
   width:6px;
 }
 
 ::-webkit-scrollbar-track {
   /* Customize the scrollbar track */
   background-color: aliceblue;
 }
 
 ::-webkit-scrollbar-thumb {
   /* Customize the scrollbar thumb */
   background: #1b1b1b;
   border-radius: 10px;
 }

 .glass {
  background: rgba(255, 255, 255, 0.1); /* translucent glass look */
  backdrop-filter: blur(10px); /* blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* soft border */
  border-radius: 1rem; /* rounded edges */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2); /* soft shadow */
}
